#daftar-siswa{
    background-color: gainsboro;
    color: #F3F4F6;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
}

#daftar-siswa :hover{
    background-color: #E5E7EB;
    color: #111827;
}

.siswa{
    margin: 0px;
    padding: 10px 15px 10px 15px;
}